body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left,
.right {
    display: flex;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

h1,
.header-text {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
} 

.header-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
   background-color: #3882F6;
   color: #F9FAF8;
   border-radius: 8px;
   border: none;
   padding: 8px 16px;
}

.card-img {
    border-radius: 8px;
    border-color: #3882F6;
    border-style: solid;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 20px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-subtext {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 20px 100px;
}

.quote-credit {
    align-self: flex-end;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 100px;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 32px;
    flex: 1;
}

.left-text {
    color: #F9FAF8;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #F9FAF8;
    border-style: solid;
    padding: 8px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}